body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
  border-left: 2px solid transparent;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: #e5e5e5;
  border-left: 2px solid transparent;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: hsl(0, 0%, 80%);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: hsl(0, 0%, 80%);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: hsl(0, 0%, 80%);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: hsl(0, 0%, 80%);
}
